<%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>
<div class="form-group">
	<%= f.label :answer_text, answer.question.question_text ,:class=>"col-md-2 col-sm-3 col-xs-12"%>
	<div class="col-md-10 col-sm-9 col-xs-12">
		<%= f.text_area :answer_text, :rows => 5 ,:class=>"form-control"%>
	</div>
</div>