<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your clinic has sent a questionaire to you.</h1>
    <p>
      Please fill and submit in the following form.<br/>
      <%= @questionaire_url %>.<br>
    </p>
    <p>Thank you!</p>
  </body>
</html>