<div class="container">
  <div class="modal-header">
    <h3>Family Pedigree</h3>
  </div>
  <% @memberships.each do |membership| %>
  <div class="col-md-4 col-sm-4 col-xs-12"> 
  
  <!-- PRICE ITEM -->
    <div class="panel price panel-blue">
      <div class="panel-heading arrow_box text-center">
        <h3><%= membership.name %></h3>
      </div>
      <div class="panel-body text-center">
        <p class="lead " style="font-size:40px"><strong>$<%= membership.fee_amount %> / month</strong></p>
      </div>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item"><i class="icon-ok text-info"></i> Personal use</li>
        <li class="list-group-item"><i class="icon-ok text-info"></i> Unlimited projects</li>
        <li class="list-group-item"><i class="icon-ok text-info"></i> 24/7 support</li>
      </ul>
      <div class="panel-footer"><%= link_to "BUY NOW","/users/sign_up/?id=#{membership.id}" ,:class=>"btn btn-lg btn-block btn-info"%></div>
    </div>
    <!-- /PRICE ITEM --> 
    
  </div>
  <% end %>  
</div>
