<% content_for :header do -%>
  <%= stylesheet_link_tag 'family_tree', media: 'all', 'data-turbolinks-track' => true %>
<% end -%>

<div class="tree">
	<% @four_family_members.each do |family_member| %>
		<ul>
			<li>
				<a href="#" class="rectangle"><%= family_member.name %></a>
				<% unless family_member.children.blank? %>
					<ul>
						<% family_member.children.each do |family_children| %>
							<% unless family_children.nil? %>
								<li>
									<a href="#" class="rectangle"><%= family_children.name %></a>
								</li>
							<% end %>
						<% end %>
					</ul>
				<% end %>
			</li>
			<% unless family_member.current_spouse.blank? %>
				<li>
					<a href="#" class="rectangle">
						<%=family_member.current_spouse.name%>
					</a>
				</li>
				<% @four_family_members.delete(family_member.current_spouse) %>
			<% end %>
		</ul>
	<% end %>
</div>