<!--
We will create a family tree using just CSS(3)
The markup will be simple nested lists
-->

<% content_for :header do -%>
  <%= stylesheet_link_tag 'family_tree', media: 'all', 'data-turbolinks-track' => true %>
<% end -%>

<!-- Dynamic Family tree end -->

<div class="tree">
	
	<% @j = 0 %>
	<% @family_members.each do |family_member| %>
		<% if @i == 1 %>
			<% @i = 2 %>
			<% @j = @j + 1 %>
			<% next %>
		<% end %>
		<ul>
			<li>
				<a><%= family_member.name %></a>
				<% if family_member.current_spouse %>
					<% @i = 1 %>
					<li>
						<a href="#"><%= family_member.current_spouse.name %></a>
					<%unless family_member.current_spouse.children %>
						</li>
					<% end %>
				<% end %>
	<% end %>

	<% @family_members.each do |family_member| %>
			<%if family_member.current_spouse %>
				<%if family_member.current_spouse.father %>
					</li>
				<% end %>
			<% end %>
			<% if @j != 0 %>
				<% @j = @j - 1 %>
				<% next	%>				
			<% end %>
			</li>
		</ul>
	<% end %>

</div>
<br/>
<div class="col-md-12">
	<%=link_to "Finish", root_path, :class=>"pull-right btn btn-default" %>
</div>
